.flex {
  display: flex;
}

.gap-2 {
  gap: 2rem;
}

.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--px-sm) * 2);
  margin-inline: auto;
  padding-inline: 1rem;
  /* Resolvi centralizar o container dividindo o espaçamento lateral entre margin com o padding
  MOTIVO: Como estou usando animação e preciso do overflow hidden para evitar o scroll horizontal
  ao entrar ou atualizar a página causando um desconforto visual, 
  o botão está com um transform scale, usando só o margin inline para centralizar o container
  ao acontecer o scale do botão o overflow estava cortando parte dele, dividindo a centralização entre padding e margin
  consegui respeitar o espaçamento proposto e evitar cortar o botão ao escalar
    */
}

@media (width >= 80em) {
  .container {
    --max-width: 80em;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    padding-inline: 1rem;
  }
}