* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #F5F4F0;
}

#content {
    width: 1120px;
    margin: 80px auto;
}

.title-page h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 8px;
}

.subtitle-page {
    color: #E1624F;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2px;
}

.description {
    margin: 40px 0;
}

p {
    color: #333333;
}

.description p {
    text-align: center;
    margin-top: 24px;
    font-style: italic;
}

.content-title {
    border-top: 1px solid #D9D9D9;
    padding: 64px 0;
}

.content-title h2 {
    margin-bottom: 8px;
}

.content-title p {
    margin-top: 8px;
}

.card-middle {
    margin: 40px 0;
}

.info-card {
    margin: 20px 0;
}