#projects {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 72px 144px;

  .cards {
    max-width: 1040px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);

    .card {
      align-items: center;
      background-color: var(--base-gray-300);
      padding: 12px;
      border-radius: 12px;

      figure {
        img {
          max-width: 100%;
          height: auto;
          border-radius: 12px;
        }
      }

      .content {
        text-align: start;
        padding: 4px;
      }
    }
  }
}
#services {
  align-items: center;
  padding: 88px 120px 120px;
  background-color: var(--base-gray-100);

  .card-services {
    grid-template-columns: repeat(3, 1fr);
    max-width: 888px;
    margin-inline: auto;

    .card-s {
      width: 100%;
      padding: 20px;
      border: 2px solid var(--base-gray-200);
      border-radius: 12px;
    }
  }
}
#contacts {
  background-image: url(../assets/images/Background_Contacts.png);
  background-size: cover;
  background-position: center;
  padding-block: 128px 200px;

  header {
    p {
      font: var(--text-md);
    }
  }
  .links {
    width: 400px;
    margin-inline: auto;
    
    li {
      list-style: none;
      padding: 20px;
      background-color: var(--base-gray-300);
      border-radius: 8px;

      a {
        text-decoration: none;
        align-items: center;
        color: var(--base-gray-500);
        font: var(--text-md);
        margin-right: auto;
        
        i {
          margin-right: 12px;
        }
      }
    }
  }
}


