#projects {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 56px;
  padding-block: 72px 144px;

  .sections-title {
    /* margin-block: 72px 56px ; */
    flex-direction: column;
    gap: 8px;
  }

  .cards {
    max-width: 1040px;
    width: 100%;
    /* margin: 0 auto; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-flow: column; */
    gap: 24px;

    .card {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background-color: var(--base-gray-300);
      padding: 12px;
      border-radius: 12px;

      figure {
        img {
          max-width: 100%;
          height: auto;
          border-radius: 12px;
        }
      }

      .content {
        text-align: start;
        padding: 4px;

        p {
          margin-top: 8px;
          color: var(--base-gray-500);
        }
      }
    }

  }

}